<!DOCTYPE html>
<html>
<head>
  <title>Buslines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <div class="navbar navbar-inverse">
  <div class="nav navbar-header">
    <li><%= link_to "New Station", new_station_path %></li>
    <li><%= link_to "New Line", new_line_path %></li>
    <li><%= link_to "New Stop", new_stop_path %></li>
    <li><%= link_to "Station", stations_path %></li>
    <li><%= link_to "Line", lines_path %></li>
  </div>
</div>

<%= flash[:notice] %>

<%= yield %>
</div>
</body>
</html>
